<h1>Question#index</h1>
<p>Find me in app/views/question/index.html.erb</p>
<%= form_tag("/question/addlist", method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_area_tag(:message, "", size: "24x6") %>
  <%= submit_tag("Search") %>
<% end %>

<br>
<h2>Un-Matched Questions</h2>
<%= form_tag("/question/changestatus", method: "post") do %>
    <% #collection_select(:bucket, :bucket_id, @buckets, :id, :phrase, {:prompt => true}) %>
    <%= select(:bucket, :bucket_id, @buckets.collect {|p| [ p.phrase, p.id ] } + [ [ 'Move to NOT-MATCHABLE', '-1' ] ], {:include_blank => 'Please select a Bucket'}) %>
    <br />
    <% @unMatchedList.each do |question| %>
        <%= check_box_tag 'question[]', question.id %> <%= question.qtext %><br />
    <% end %>
    <%= submit_tag("Save") %>
<% end %>

<h2>Not-Matchable Questions</h2>
<%= form_tag("/question/changenotmatch", method: "post") do %>
    <% @notMatchableList.each do |question| %>
        <%= check_box_tag 'question[]', question.id %> <%= question.qtext %><br />
    <% end %>
    <%= submit_tag("Move to UN-MATCHED") %><br />
<% end %>

<h2>All Questions</h2>
<ul>
<% @questions.each do |question| %>
  <li><%= question.qtext %></li>
<% end %>
</ul>
<h2>Questions by buckets</h2>
<% @buckets.each do |bucket| %>
    Bucket <%= bucket.id %><br/>
    Bucket name: <%= bucket.phrase %><br/>
    <ul>
    <% bucket.question.each do |q| %>
        <li><%= q.qtext %></li>
    <% end %>
    </ul>
<% end %>