<div align="center" style="font-size:18px;">
   | <%= link_to 'Add Bucket', new_bucket_path %> |
</div>
<h2>Listing buckets</h2>

<div align="right">
<%= form_tag("/buckets/search", method: "get") do %>
  <%= text_field(:post, :search, size: 20) %><%= submit_tag("Search") %><br />
<% end %>
</div>

<% @buckets.each do |bucket| %>
    <div class="bg-bucket">
      <div class="left">
        <h5 class="hquestion">Bucket <%= bucket.id %></h5>
      </div>
      <div class="right">
        <%= link_to 'Edit', edit_bucket_path(bucket) %> | <%= link_to 'Destroy', bucket, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="clear"></div>
          <h3 class="hquestion"><%= bucket.phrase %><h3>
    </div>
    <ul>
    <% bucket.question.each do |q| %>
        <li><%= q.qtext %></li>
    <% end %>
    </ul>
<% end %>
<div align="center">
    <%= link_to "PUBLISH", '/buckets.xml', class: "btn btn-large btn-primary" %>
</div>